* {
    font-size:13pt;font-weight:normal;
}

table {
    border-collapse: collapse;
  }
  
  td {
    border: 6px double darkorange;
    padding: 10px;
  }
  
  ol {
    margin-left: 1em;
  }
  
  body {
    margin: 1em;
    background: 000;
    font-family: 'courier new';
    color: darkorange;
    background: #000400;
  }
  
  a {
    background: darkorange;
    color: #223;
    font-weight: bold;
    padding-right: .25em;
  }
  
  .advisory {
    background: darkorange;
    color: #223;
    font-weight: bold;
    padding-right: .25em;
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #000400;
    background: darkorange;
    text-align: center;
  }
  