.user-home-jumbo {
  background-image: url(../images/newbanner.png);
  background-size: cover;
  height: 500px;
  width: auto;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

nav {
  background-color: #1641A8;
}

body {
  background-color: #FFA70B;
}

.card-text{
  height:100%;
}
